djangorestframework~=3.16.0
rest_framework_simplejwt
gunicorn==23.0.0
asgiref==3.8.1
Django==5.2.1
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
et_xmlfile==2.0.0
gunicorn==23.0.0
numpy==1.24.3
openpyxl==3.1.2
packaging==25.0
pandas==2.0.3
psycopg2-binary==2.9.9
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
corsheaders